---
import Layout from '@layouts/Layout.astro';
import FooterFull from '@components/FooterFull.svelte';
import { getCollection, type CollectionEntry } from 'astro:content';
import { displaySiteBanner } from '../../components/stores.js';
import '../../styles/global.css';
import ButtonCustom from '@components/buttons/ButtonCustom.svelte';

displaySiteBanner.set(false);

interface Props {
  entry: CollectionEntry<'contactUs'>;
}

export async function getStaticPaths() {
  const contactUs = await getCollection('contactUs');
  return contactUs.map((entry) => ({
    params: { contactUs: entry.id },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const bgString = 'background-image:url(' + entry.data.background.src + ')';
const linkText = entry.data.buttonText;
---

<Layout title={entry.data.heading}>
  <div class="max-h-screen overflow-y-scroll font-expressway bg-custom-gradient-blue-header">
    <div class="fixed left-0 z-10 flex justify-center w-full align-middle top-24 h-5/6">
      <img src="/ega.svg" />
    </div>
    <div class="relative overflow-y-scroll font-expressway red-radial-gradient scrollbar-hide">
      <div class="relative z-20 bg-cover h-full size-auto bg-center bg-no-repeat rounded-b-2xl lg:rounded-none" style={bgString}>
        <div class="bg-gradient-to-t from-black py-20 rounded-b-2xl lg:rounded-none min-h-[650px]">
          <div class={'max-w-[85rem] m-auto px-4 pt-inherit '}>
            <!-- Title -->
            <div class="max-w-6xl mx-auto mt-5 text-left sm:text-center">
              <h1 class="block font-bold text-[32px] md:text-[40px] {titleClasses}">
                {entry.data.heading}
              </h1>
            </div>
            <!-- End Title -->

            <div class="max-w-3xl mx-auto mt-5 text-left sm:text-center">
              <p id="content" class="text-white lg:text-2xl {contentClasses}">
                {entry.data.description}
              </p>
            </div>

            <!-- Buttons -->
              <div class="grid w-full gap-3 mt-8 inline-flex sm:justify-items-start sm:justify-center">
                <ButtonCustom color="white" size="xl" link={entry.data.buttonLink} class="w-64">
                  {linkText}
                </ButtonCustom>
              </div>
            <!-- End Buttons -->
          </div>
        </div>
      </div>
    </div>
    <div class="relative z-20">
      <FooterFull client:only />
    </div>
  </div>
</Layout>
