---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/sections/Hero.svelte';
import FooterFull from '@components/FooterFull.svelte';
import { displaySiteBanner } from '@components/stores.js';
import { getCollection, type CollectionEntry } from 'astro:content';
import '../../styles/global.css';

displaySiteBanner.set(false);

interface Props {
  entry: CollectionEntry<'contactUs'>;
}

export async function getStaticPaths() {
  const contactUs = await getCollection('contactUs');
  return contactUs.map((entry) => ({
    params: { contactUs: entry.id },
    props: { entry },
  }));
}
const { entry } = Astro.props;
---

<Layout title={entry.data.heading}>
  <div class="bg-custom-gradient-blue-header">
    <Hero
      title={entry.data.heading}
      titleClasses="w-64 sm:w-72 md:w-[500px]"
      backgroundImg={entry.data.background.src}
      link={entry.data.buttonLink}
      linkText={entry.data.buttonText}
      externalLink={entry.data.externalLink}
      heightClasses="lg:h-[700px]">
      <span slot="description">
        <span class="md:hidden">
          {entry.data.shortDescription ? entry.data.shortDescription : entry.data.description}
        </span>
        <span class="hidden md:inline">
          {entry.data.description}
        </span>
      </span>
    </Hero>
    <FooterFull client:only="svelte" />
  </div>
</Layout>
