---
import WhiteButton from '../buttons/WhiteButton.astro'

interface Props {
  title: string
  content?: string | Array<string>
  link?: string
  linkText?: string
  padding?: string
  flipped?: boolean
}

const {
  title,
  content = null,
  link = null,
  linkText = null,
  flipped = false,
  padding,
} = Astro.props

console.log('link - ', link)
---

<section class="">
  <div
    class="items-center max-w-screen-xl gap-16 px-4 py-8 mx-auto md:grid md:grid-cols-2 md:py-16 md:px-6"
  >
    {
      flipped && (
        <div class="grid gap-4 mt-8 gird-cols-1">
          <img
            class="w-full rounded-lg"
            src="https://dummyimage.com/1080/fff/aaa"
            alt="office content 1"
          />
        </div>
      )
    }
    <div class="font-light text-white sm:text-lg">
      <h2
        class="mb-4 text-4xl font-extrabold tracking-tight text-center text-mcswf-gold"
      >
        {title}
      </h2>
      {
        content instanceof Array ? (
          <ul class="m-4 ml-12 list-disc">
            {content.map((b) => (
              <li>{b}</li>
            ))}
          </ul>
        ) : (
          <p class="mb-4 text-center">{content}</p>
        )
      }
      {
        link && (
          <div class="grid w-full gap-3 mt-8 sm:inline-flex sm:justify-center">
            <WhiteButton href={link} text={linkText} />
          </div>
        )
      }
    </div>
    {
      !flipped && (
        <div class="grid gap-4 mt-8 gird-cols-1">
          <img
            class="w-full rounded-lg"
            src="https://dummyimage.com/1080/fff/aaa"
            alt="office content 1"
          />
        </div>
      )
    }
  </div>
</section>
