---
import ButtonCustom from '../buttons/ButtonCustom.svelte'

interface Props {
  title: string
  content?: string | Array<string>
  link?: string
  linkText?: string
  padding?: string
  flipped?: boolean
  imgSrc?: string
  imgAltText?: string
  titleClasses?: string
}

const {
  title,
  content = null,
  link = null,
  linkText = null,
  flipped = false,
  padding,
  imgSrc = 'https://dummyimage.com/1080/fff/aaa',
  imgAltText = 'dummy alt text',
  titleClasses,
} = Astro.props

console.log('link - ', link)
---

<section class="">
  <div
    class="items-center max-w-screen-xl gap-16 px-4 py-8 mx-auto grid lg:grid-cols-2 md:py-16 md:px-6">
    {
      flipped && (
        <div class="flex justify-center">
          <img
            class="w-3/4 rounded-lg aspect-square object-cover"
            src={imgSrc}
            alt={imgAltText}
          />
        </div>
      )
    }
    {
      !flipped && (
        <div class="justify-center flex lg:hidden">
          <img
            class="w-3/4 rounded-lg object-cover aspect-square"
            src={imgSrc}
            alt={imgAltText}
          />
        </div>
      )
    }
    <div class="font-light text-white sm:text-lg">
      <h2
        class:list={[
          'mb-4 text-4xl font-extrabold tracking-tight text-center text-mcswf-gold',
          titleClasses,
          'pt-5 lg:pt-0',
        ]}>
        {title}
      </h2>
      <div class="flex justify-center">
        {
          content instanceof Array ? (
            <ul class="m-4 ml-12 list-disc">
              {content.map((b) => (
                <li>{b}</li>
              ))}
            </ul>
          ) : (
            <p class="mb-4 text-left lg:text-center w-3/4 lg:w-full whitespace-pre-line">
              {content}
            </p>
          )
        }
      </div>
      {
        link && (
          <div class="grid w-full gap-3 mt-8 sm:inline-flex sm:justify-center">
            <ButtonCustom
              color="white"
              size="xl"
              customClasses="w-64"
              link={link}>
              {linkText}
            </ButtonCustom>
          </div>
        )
      }
    </div>
    {
      !flipped && (
        <div class="justify-center hidden lg:flex">
          <img
            class="w-3/4 rounded-lg object-cover aspect-square"
            src={imgSrc}
            alt={imgAltText}
          />
        </div>
      )
    }
  </div>
</section>
