---
import Layout from '../layouts/Layout.astro';
import Hero from '@components/elements/Hero.svelte';
import Countdown from '../components/elements/Countdown.svelte';
import Products from '../components/sections/Products.svelte';
import '../styles/global.css';
import '../styles/fonts.css';
import FooterFull from '@components/FooterFull.svelte';
import ContentImageFull from '../components/sections/ContentImageFull.svelte';
import { getCollection } from 'astro:content'; // Get products collection
import { displaySiteBanner } from '../components/stores.js';
import MetricCard from '@components/cards/MetricCard.svelte';
import { externalLinks } from '@content/externalLinks.js';

displaySiteBanner.set(true);

const products = await getCollection('products');
const metrics = await getCollection('aboutMetrics');

products.sort((a, b) => a.data.order - b.data.order);
---

<Layout title="">
  <div class="relative font-expressway red-radial-gradient scrollbar-hide">
    <Hero
      title="WE ARE THE MARINE CORPS SOFTWARE FACTORY"
      content="Train Marines. Build Applications. Deploy to the Edge"
      link="/about"
      linkText="LEARN MORE"
      contentClasses={'text-base md:text-2xl'}
      backgroundImg="/images/headset_marine.png"
    />
    <div class="relative z-20">
      <div class="pt-12 pb-8 lg:pb-24 h-fit">
        <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pb-10">
          <h1 class="text-left md:text-center font-bold text-[32px] md:text-[40px] text-mcswf-gold pt-16 px-8">OUR MISSION</h1>
          <p class="text-left md:text-center text-base lg:text-2xl py-16 px-8">
            We provide mission-specific software development, data analytics, and artificial intelligence operations capabilities to MIG commanders to close joint, coalition, and naval kill webs.
            These capabilities enhance Marine commanders decision advantage across the full spectrum of military operations.
          </p>

          <div class="relative grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 w-full z-20 justify-items-center">
            {
              metrics?.map((item) =>
                item.data.metrics?.map((p) => (
                  <div class="text-center my-6 md:m-12">
                    <MetricCard
                      icon={p.icon}
                      value={p.value}
                      metric={p.metric}
                    />
                  </div>
                ))
              )
            }
          </div>
        </div>
      </div>
      <div class="h-fit py-20">
        <ContentImageFull
          image="/images/matt-11.png"
          link="#"
          linkText="LEARN MORE"
          title="WHAT WE DO"
          titleClasses="text-mcswf-white text-2xl font-bold md:text-3xl lg:text-4xl"
          content="Marines are taught to develop mission-specific software for operational units to use in weeks or months, not years. Marines at the Marine Corps Software Factory (MCSWF) are trained by working with industry experts to build the software Marines need."
          imageClasses="lg:w-550"
        />
      </div>
      <div class="h-fit py-10 lg:py-20">
        <ContentImageFull
          flipped
          image="/images/GenPuma.png"
          link="#"
          linkText="LEARN MORE"
          title="THE IMPACT"
          titleClasses="text-mcswf-white text-2xl font-bold md:text-3xl lg:text-4xl"
          content="By combining traditional military training and modern technology skills, it enables tactical advantage for Marines across the service. The MCSWF pilot will evaluate the demand signal from Fleet Marine Forces, develop a way forward on career paths for technical experts, and evaluate the proper blend of civilian-Marine teaming."
          imageClasses="lg:w-550"
        />
      </div>
      <!-- <div class="h-fit pt-20">
        <Products {products} />
      </div> -->
      <div class="h-fit md:pt-20">
        <Countdown
          client:only="svelte"
          title="COHORT 9 APPLICATION DEADLINE"
          content="Applications for Cohort 9 are due on August 1st, 2024. Marines who are accepted to the program will PCS to Austin, TX during the summer of 2024 and begin the Technical Accelerator in August 2024."
          link={externalLinks.recruitingApplication}
        />
      </div>
      <div class="pt-2 lg:pt-8">
        <FooterFull client:only />
      </div>
    </div>
  </div>
</Layout>
