---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/elements/Hero.svelte'
import FooterFull from '../../components/footer/FooterFull.svelte'
import MetricCard from '../../components/cards/MetricCard.svelte'
import { getCollection, type CollectionEntry } from 'astro:content'
interface Props {
  entry: CollectionEntry<'products'>
}

import '../../styles/global.css'


export async function getStaticPaths() {
  const products = await getCollection('products')
  return products.map((entry) => ({
    params: { product: entry.id },
    props: { entry },
  }))
}

const { entry } = Astro.props
const metricLength = entry.data.metrics.length
const bgString = 'background-image:url(' + entry.data.background.src + ')'
---

<Layout title={entry.data.product}>
  <div
    class="absolute left-0 z-10 flex justify-center w-full align-middle top-24 h-5/6"
  >
    <img src="/ega.svg" />
  </div>

  <div
    class="relative max-h-screen overflow-y-scroll font-expressway red-radial-gradient scrollbar-hide"
  >
    <div
      class:list={[
        'relative z-20 h-fit py-20 bg-cover bg-no-repeat bg-center',
      ]}
      style={bgString}
    >
      <Hero
        padding="pt-24"
        title={entry.data.product}
        content={entry.data.description}
        link="#"
        linkText="REQUEST APP DEMO"
        titleClasses='text-white text-xl md:text-[40px]'
        contentClasses='text-base sm:text-[21px]'
      />
    </div>

    <div class="relative z-20 items-center max-w-screen-xl gap-36 px-4 py-8 mx-auto md:grid md:grid-cols-2 md:py-16 md:px-6">
      <div class="grid gap-4 mt-8 grid-cols-1 hidden sm:block" >
        <div class="w-full">
          <img
          class="absolute w-[40rem] top-[16%] left-0 rounded-lg object-cover"
          src={entry.data.secondImage.src}
          alt={entry.data.secondImage.alt}
        />
          <img
            class="absolute w-[15.5rem] left-[12.5em] top-[24%] rounded-lg object-cover"
            src={entry.data.image.src}
            alt={entry.data.image.alt}
          />
        </div>
      </div>
      <div class="grid gap-4 mt-8 grid-cols-1">
        <h2
          class="mb-4 text-2xl sm:text-[40px] font-extrabold tracking-tight text-center text-white"
        >
          {entry.data.heading}
        </h2>
        <ul class="m-4 ml-12 list-disc text-xl md:text-2xl">
          {entry.data.bullets.map((b) =>(
            <li>{b}</li>
          ))}

        </ul>
        <div
        class='relative grid grid-cols-1 sm:grid-cols-2 w-fit m-auto z-20'
        >
          {
            entry.data.metrics.map((p) => (
              <div class="text-center m-12">
                <MetricCard icon={p.icon} value={p.value} metric={p.metric} />
              </div>
            ))
          }
        </div>
        <div class="grid gap-4 mt-8 grid-cols-1 sm:hidden" >
          <img
            class="w-full rounded-lg object-cover"
            src={entry.data.image.src}
            alt={entry.data.image.alt}
          />
        </div>
      </div>
    </div>

    <div class="relative z-20">
      <FooterFull client:load />
    </div>
  </div>
</Layout>
