---
import Layout from '../../layouts/Layout.astro'
import Card from '../../components/cards/MCCard.astro'
import MerticCard from '../../components/cards/MetricCard.astro'
import Hero from '../../components/elements/Hero.astro'
import RedButton from '../../components/buttons/RedButton.astro'

import '../../styles/global.css'
import { imageConfig } from 'astro:assets'
import { getCollection, getEntry, getEntries } from 'astro:content'

export async function getStaticPaths() {
  const entries = await getCollection('roles')
  return entries.map(({ data }) => {
    return {
      params: { role: data.url },
      props: { data },
    }
  })
}
const { role } = Astro.params
const { data } = Astro.props
---

<Layout title="ROLES">
  <div
    class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory"
  >
    <div class="h-screen snap-start py-20">
      <h1>{data.role_title}</h1>

      <h1>{data.title1}</h1>

      <h1>{data.url}</h1>

      <h1>{data.aboutJobList}</h1>

      <h1>{data.title2}</h1>

      <h1>{data.responsibilitiesList}</h1>

      <h1>{data.whatsInItForMeList}</h1>
    </div>
  </div>
</Layout>
