---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/sections/Hero.svelte';
import FooterFull from '@components/FooterFull.svelte';
import CohortGroup from '@components/sections/CohortGroup.svelte';
import { displaySiteBanner } from '@components/stores.js';
import { externalLinks } from '@content/externalLinks.js';
import { getCollection, type CollectionEntry } from 'astro:content';
import '../../styles/global.css';

displaySiteBanner.set(false);

// export async function getStaticPaths() {
//   const posts = await Astro.glob('../../content/roles/*.md');
//   return posts.map(({ frontmatter, compiledContent }) => {
//     return {
//       params: { role: frontmatter.url, image_url: frontmatter.image },
//       props: { frontmatter, compiledContent },
//     };
//   });
// }

export async function getStaticPaths() {
  const roles= await getCollection('roles');
  return roles.map( (entry) => ({
      params: { role: entry.slug },
      props: { entry },   
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const entries = await getCollection('cohorts');
---

<Layout title={entry.data.role}>
  <Hero
    title={entry.data.role}
    link={externalLinks.recruitingApplication}
    externalLink={true}
    linkText="APPLY NOW"
    backgroundImg=`${entry.data.image_wide.src}`
    bgClasses=`bg-${entry.data.image_focus}`
    bgPos = `${entry.data.image_focus}`
    />
    <div class="relative z-20 flex h-fill py-12 place-content-center px-2">
      <article class="prose prose-invert lg:prose-2xl font-light text-white marker:text-white max-w-none w-3/4 prose-hr:opacity-0 prose-h1:text-[32px] md:leading-snug">
        <Content article class:list={['prose', 'prose-invert', 'lg:prose-2xl', 'font-light', 'text-white', 'marker:text-white', 'max-w-none', 'w-3/4', 'prose-hr:opacity-0', 'prose-h1:text-[32px]','md:leading-snug']}></Content>
      </article>
    </div>

  <div class="relative z-20 max-h-screen scrollbar-hide">
    <CohortGroup
      entries={entries}
      client:only="svelte"
    />
    <div class="relative z-20">
      <FooterFull
        background="bg-[#f0f0f0]"
        client:only="svelte"
      />
    </div>
  </div>
</Layout>
