---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/elements/Hero.svelte'

import '../../styles/global.css'
import '../../styles/fonts.css'
import FooterFull from '../../components/footer/FooterFull.svelte'
import ContentImageFull from '../../components/sections/ContentImageFull.astro'
const posts = await Astro.glob('../../content/roles/*.md')
let side = 'left'

const { frontmatter, compiledContent } = Astro.props
---

<Layout title="Roles">
  <div
    class="absolute left-0 z-10 flex justify-center w-full align-middle top-24 h-5/6"
  >
    <img src="/ega.svg" />
  </div>
  <div
    class="relative max-h-screen font-expressway red-radial-gradient scrollbar-hide"
  >
    <div
      class="relative z-20 h-fit py-20 bg-cover bg-no-repeat bg-center"
      style={{
        backgroundImage: `url('/images/group_of_marines.png')`,
      }}
    >
      <Hero
        title="PICK THE PERFECT ROLE FOR YOU"
        content="Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores.  Lorem ipsum dolor sit amet. Et quae qui"
        link="#"
        linkText="APPLY NOW"
        padding="pt-24"
        titleClasses="text-white"
        contentClasses="hidden lg:block"
      />
    </div>

    <div class="relative z-20 max-h-screen scrollbar-hide">
      <div class="hidden lg:block">
        {
          posts.map((post) => {
            if (side == 'left') {
              side = 'right'
              return (
                <>
                  <div class="relative z-20 ">
                    <ContentImageFull
                      title={post.frontmatter.role}
                      content={post.frontmatter.about}
                      link={'/roles/' + post.frontmatter.url}
                      linkText="APPLY NOW"
                      titleClasses="!text-white text-2xl font-bold md:text-3xl lg:text-4xl"
                      imgSrc={`/images/${post.frontmatter.image}`}
                      imgAltText={post.frontmatter.image_alt_text}
                    />
                  </div>
                </>
              )
            } else {
              side = 'left'
              return (
                <>
                  <div class="relative z-20 ">
                    <ContentImageFull
                      flipped
                      title={post.frontmatter.role}
                      content={post.frontmatter.about}
                      link={'/roles/' + post.frontmatter.url}
                      linkText="APPLY NOW"
                      titleClasses="!text-white text-2xl font-bold md:text-3xl lg:text-4xl"
                      imgSrc={`/images/${post.frontmatter.image}`}
                      imgAltText={post.frontmatter.image_alt_text}
                    />
                  </div>
                </>
              )
            }
          })
        }
      </div>
      <div class="lg:hidden">
        {
          posts.map((post) => {
            return (
              <>
                <div class="relative z-20 ">
                  <ContentImageFull
                    flipped
                    title={post.frontmatter.role}
                    content={post.frontmatter.about}
                    link={'/roles/' + post.frontmatter.url}
                    linkText="APPLY NOW"
                    titleClasses="!text-white text-2xl font-bold md:text-3xl lg:text-4xl"
                    imgSrc={`/images/${post.frontmatter.image}`}
                    imgAltText={post.frontmatter.image_alt_text}
                  />
                </div>
              </>
            )
          })
        }
      </div>
      <div class="pt-20">
        <FooterFull client:load />
      </div>
    </div>
  </div>
</Layout>
