---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/elements/Hero.astro'

import '../../styles/global.css'
import '../../styles/fonts.css'
import FooterFull from '../../components/FooterFull.svelte'
const posts = await Astro.glob('../../content/roles/*.md')
let side = 'left'
---

<Layout title="Roles">
  <div
    class="relative max-h-screen overflow-y-scroll font-expressway red-radial-gradient scrollbar-hide snap-start snap-y snap-mandatory"
  >
    <div
      class="relative z-20 h-fit snap-start pt-20 pb-20 bg-[url('/images/group_of_marines.png')] bg-no-repeat"
    >
      <Hero
        title="PICK THE PERFECT ROLE FOR YOU"
        content="Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores.  Lorem ipsum dolor sit amet. Et quae qui"
        link="#"
        linkText="APPLY NOW"
        padding="pt-24"
        titleClasses="text-white"
      />
    </div>
    <div class="max-h-screen scrollbar-hide snap-start snap-y snap-mandatory">
      {
        posts.map((post) => {
          if (side == 'left') {
            side = 'right'
            return (
              <>
                <div class="h-screen snap-start py-20 px-10">
                  <div class="flex h-screen items-center">
                    <div class="w-1/2 p-4">
                      <Hero
                        title={post.frontmatter.role}
                        content={post.frontmatter.about}
                        link={'/roles/' + post.frontmatter.url}
                        linkText="APPLY NOW"
                        titleClasses="text-white text-2xl font-bold md:text-3xl lg:text-4xl"
                      />
                    </div>
                    <div class="w-1/2 p-4">
                      <img
                        src={`/images/${post.frontmatter.image}`}
                        class="w-full h-full object-cover rounded-lg"
                      />
                    </div>
                  </div>
                </div>
              </>
            )
          } else {
            side = 'left'
            return (
              <>
                <div class="h-screen snap-start py-20 px-10">
                  <div class="flex h-screen items-center">
                    <div class="w-1/2 p-4">
                      <img
                        src={`/images/${post.frontmatter.image}`}
                        class="w-full h-full object-cover rounded-lg"
                      />
                    </div>
                    <div class="w-1/2 p-4">
                      <Hero
                        title={post.frontmatter.role}
                        content={post.frontmatter.about}
                        link={'/roles/' + post.frontmatter.url}
                        linkText="APPLY NOW"
                        titleClasses="text-white text-2xl font-bold md:text-3xl lg:text-4xl"
                      />
                    </div>
                  </div>
                </div>
              </>
            )
          }
        })
      }
      <div class="pt-20 snap-end">
        <FooterFull client:load />
      </div>
    </div>
  </div>
</Layout>
